*
{
   margin: 0%;
   box-sizing: border-box;
}

.sfondo
{

background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221440%22%20height%3D%22661.1%22%20viewBox%3D%220%200%201440%20661.1%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3Ecircle%2C%20ellipse%2C%20line%2C%20path%2C%20polygon%2C%20polyline%2C%20rect%2C%20text%20%7B%20fill%3A%20rgb%280%2C%20128%2C%2096%29%20%21important%3B%20%7D%3C%2Fstyle%3E%3Cpath%20fill%3D%22rgb%280%2C%20128%2C%2096%29%22%20d%3D%22M1440%20488c-19.3%204.3-39.2%208.6-60%2013-174.2%2036.5-228.8%20288-467%2076.2-153.6-136.6-424-22.8-660.4-5.8-130.2%209.3-252.6-75-252.6-75V0h1440%22%2F%3E%3C%2Fsvg%3E");    width: 80vw;
height: 90%;
float: left;
left: 50%;
transform: translate( -50% , 0px );
position: absolute;
background-size: cover;
background-position: center; 
background-repeat: no-repeat;


}

.row1 ,  .row2 , .row3 , .row4

{
   position: relative;
   float: left;
   margin: 1%;
   background-size: cover;
   background-position: center; 
   
}

 .row1
{
    width: 10%;
    height: 10vh;
    margin: 1%;
    background-image: url('logo.png');
    left: 50%;
    transform: translate( -50% , 0px );
}

 .row2
 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10%;
    font-size: 20px;
    width: auto;
    height: auto;
    color: white;
    left: 22%;
 }

 .row3
 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    width: 98%;
    color: white;
    height: 10vh;
    text-align: center;
 }

 .row4
 {
   font-family: Arial, Helvetica, sans-serif;
   width: 98%;
   color: white;
   height: 10vh;
   text-align: center;

}

.pulsantebox
{
   width: 400px;
   font-size: 20px;
   height: 60px;
   background-color: lightgray;
   border-radius: 10px;
   border: lightgray;
   color: white;
}

